
input {
    padding: var(--small-padding);
    border-radius: calc(var(--small-padding) * 0.75); 
}

.btn {
    --shadow-size: 2px;
    background: hsl(0, 0%, 50%);
    border-radius: 8px;
    border: none;
    box-shadow: var(--shadow-size) var(--shadow-size) calc(var(--shadow-size) / 2) 0px hsla(0, 0%, 100%, 0.75);
    color: var(--foreground-color);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: calc( var(--small-padding) * 2);
    text-decoration: none;
    text-shadow: var(--shadow-size) var(--shadow-size) black;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

    .btn:hover {
        text-decoration: none;
        color: white;
    }

    .btn:active {
        position: relative;
        box-shadow: none;
        top: var(--shadow-size);
        left: var(--shadow-size);
    }

