body {
    --back-colour: #111;
    --text-color: #eee;
    --border: 2px var(--text-color) solid;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    margin: 1em;
    background: var(--back-colour);
    color: var(--text-color);
}

body > header {
    width: 100%;
    padding-bottom: 0.4em;
    margin-bottom: 1em;
}

h1 {
    font-family: sans-serif;
    margin: 0.2em;
}

a {
    color: var(--text-color);
}

    a:visited {
        color: var(--text-color);
    }

button {
    border: none;
    background: inherit;
    color: inherit;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

    .controls > * {
        margin: 0.2em;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

.item {
   border-top: var(--border);
}

    .item:last-child {
        border-bottom: var(--border);
    }

    .item .controls {
        justify-content: flex-end;
    }

    .item td {
        margin: 0.4em 0;
    }

.item-create {
    margin-top: 1em;
}

.item-create form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.item-create form > * {
    padding: 0 0.4em;
}

.item-create form > *:first-child {
    padding-left: 0;
}
.item-create form > *:last-child {
    padding-right: 0;
}


.flex-fill {
    flex: 1;
}

tfoot {
    margin-top: 0.4em;
}

.item-name {
    vertical-align: central;
    font-size: 110%;
}

.chunk{
    display: none;
}

.chunk:target {
    display: block;
}

#message-holder {
    font-size: 80%;
}
