/*! Local styles */

html {
    box-sizing: border-box;
    --foreground-color: #faebd7;
    --background-color: #111;
    --medium-color: hsl(0, 0, 50%);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-content: flex-start;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--background-color);
    color: var(--foreground-color);
    display: grid;
    grid-template-columns: 14em 1fr;
    grid-template-rows: 4em 1fr;
    grid-template-areas: "header header" "menu main";
    max-width: 80em;
    font-family: "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 1em;
    --small-padding: 0.2em;
    --large-padding: 1.2em;
}

a, a:visited {
    color: var(--foreground-color);
}

#page-controls {
    margin-left: var(--large-padding);
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: menu;
}


button.state {
    background: inherit;
    color: inherit;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
}

    .controls form:not(:last-of-type) {
        padding-right: var(--large-padding);
    }

    .controls form:first-of-type {
        padding-left: var(--large-padding);
    }

#lists {
    padding: 0;
}

    #lists li {
        border: 2px solid transparent;
        padding: 2px 5px;
        list-style-type: none;
    }

        #lists li.highlight::after {
            content: " <-";
        }
        #lists li.highlight::before {
            content: "-> ";
        }


        #lists li a {
            font-size: inherit;
            transition: font-size 0.3s ease
        }

            #lists li a:hover {
                font-size: 140%;
            }

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}
