
table {
    width: 100%;
    border-collapse: collapse;
    --cell-border: 1px dotted var(--foreground-color);
}

th {
    padding: var(--small-padding);
    text-align: left;
}

thead {
    border-bottom: 2px solid var(--foreground-color);
}

tr {
    border-bottom: var(--cell-border);
}

td {
    border-left: var(--cell-border);
    border-right: var(--cell-border);
    padding: var(--small-padding);
}

    td:first-of-type {
        border-left: none;
    }

    td:last-of-type {
        border-right: none;
    }

.text-left {
    text-align: left;
}

tbody {
    border-bottom: var(--large-padding) solid transparent;
    border-top: var(--large-padding) solid transparent;
}

tfoot { 
    border-bottom: var(--large-padding) solid transparent;
}

tfoot td, tfoot tr {
    border: none;
}
