@model ItemEditVM
<div class="item-create">
    <form method="post" asp-route="@Model.Route" asp-route-listId="@Model.Parent.ID">
        <input class="flex-fill" asp-for="Name" />
        <input asp-for="ItemID" />
        <button type="submit">Add Item</button>
    </form> 
</div>
