
@model LoginVM
<form asp-route="@Names.UserLogin" method="post" autocomplete="off">
    <input asp-for="ReturnUrl" />
    <dl>
        <dt><label asp-for="Username"></label></dt>
        <dd><input asp-for="Username" /></dd>
        <dt><label asp-for="Password"></label></dt>
        <dd><input asp-for="Password" /></dd>
    </dl>
    <div><button type="submit">Login</button></div>
</form>

