@model ChangePasswordVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change your password</h2>

<form asp-route="@Names.UserChangePassword" method="post">

    <dl>
        <dt><label asp-for="OldPassword"></label></dt>
        <dd>
            <div><span asp-validation-for="OldPassword"></span></div>
            <input asp-for="OldPassword" autocomplete="current-password" size="36" />
        </dd>
        <dt><label asp-for="NewPassword"></label></dt>
        <dd>
            <div><span asp-validation-for="NewPassword"></span></div>
            <input asp-for="NewPassword" autocomplete="new-password" size="36" />
        </dd>

        <dt><label asp-for="ConfirmPassword"></label></dt>
        <dd>
            <div><span asp-validation-for="ConfirmPassword"></span></div>
            <input asp-for="ConfirmPassword" autocomplete="new-password" size="36" />
        </dd>
    </dl>

    <div>
        <a asp-route="@Names.ListIndex">Cancel</a>
        <button type="submit">Change Password</button>
    </div>

</form>

