
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul> 
    <li>
        <a asp-route="@Names.UserChangePassword">Change Password</a>
    </li>
    @if (User.IsInRole(Names.RoleAdmin))
    {
        <li>
            <a asp-route="@Names.AdminIndex">Admin page</a>
        </li> 
    }
</ul>
