@model ListEditVM
@{
    ViewData["Title"] = "Create New Shopping List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-route="@Names.ListCreate">
    <dl>
        <dt><label asp-for="Name"></label></dt>
        <dd>
            <input asp-for="Name" required /><br />
            <span asp-validation-for="Name"></span>
        </dd>
    </dl>

    <div class="ok-cancel">
        <a asp-route="@Names.ListIndex" asp-fragment="@Names.ListHash">Cancel</a>
        <button type="submit">Create List</button>
    </div>
</form>
