@model ShoppingList
@{
    ViewData["Title"] = "Create New Shopping List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-route="@StaticNames.ListCreate"> 
    <dl>
        <dt><label asp-for="Name"></label></dt>
        <dd>
            <input asp-for="Name" required /><br />
            <span asp-validation-for="Name"></span>
        </dd>
    </dl>

    <div>
        <a class="btn" asp-route="@StaticNames.ListIndex">Cancel</a>
        <button class="btn" type="submit">Create List</button>
    </div> 
</form>
