@using  ShoppingAgain.ViewModels
@using  ShoppingAgain.Models;

@model Shopping
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Your Shopping Lists";
}

<h2>Welcome to Shopping List!</h2>
<p>Please use the menu on the left to select a list, or you can <a href="@Url.RouteUrl("ListCreate")">create a list</a>.</p>
