@using  ShoppingAgain.Models
@model ShoppingList
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div>
        <button type="submit">Create List</button>
        <a href="@Url.Action("index")">Cancel</a>
    </div>
}
