
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Your Shopping Lists";
}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="listItems">
        </tbody>
    </table>
